{% extends "base_user.html" %}

{% block title %}Add a snippet{% endblock %}

{% block content_header %}Add a snippet{% endblock %}

{% block main_content %}

{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form method="post" action="">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td><input type="submit" value="Save" />
        </tr>
    </table>
</form>
{% endblock %}

{% block sidebar %}
<p>All fields are required; tags should be separated with spaces.</p>

<p>Remember: by posting a snippet, you agree to let anyone make use of the code.</p>

<h3>Allowed HTML Tags:</h3>
<ul>
    <li>strong</li>
    <li>em</li>
    <li>a</li>
    <li>p</li>
    <li>br</li>
    <li>img</li>
</ul>
{% endblock %}